@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700);

body {
	background-color: #34495E;
	color: #ECF0F1;
	text-align: center;
	font-family: 'Josefin Sans';
}

.fa {
	color: white;
}

i {
	font-size: 70px;
}

#weatherbox {
	display: inline-block;
	margin: auto;
	padding-left: 3%;
	padding-right: 3%;
}

/* The starting CSS styles for the enter animation */
.ng-enter {
  transition:2s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.ng-enter-active {
  opacity:1;
}
h4 {
	display: inline;
}

#degrees_min {
	opacity: .5;
}

clock {
	font-size: 50px;
}

.header {
	text-align: left;
}
