body {
	background-color: #34495E;
	color: #ECF0F1;
	text-align: center;
}

i {
	font-size: 40px;
}

#weather-box {
	display: inline-block;
	margin: auto;
}

h4 {
	display: inline;
}

#degrees_min {
	opacity: .5;
}