<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
		 <clock format="hh:mm"></clock>
	</div>
	<div class="col-md-2">
	</div>
</div>
<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
		<div ng-repeat="day in days" ng-show="days != null" id="weatherbox" data-toggle="tooltip" data-placement="top" title="{{day.weather[0].main}}" tooltip>
			<p>
				<i ng-class="day.weather[0].icon"></i>
				<h4 id="degrees_max">{{day.main.temp_max | ceil}}&#176; | </h4> <h4 id="degrees_min">{{day.main.temp_min | ceil}}&#176;</h4>
			</p>
		</div>
	</div>
	<div class="col-md-2">
	</div>

</div>